{% extends 'base.html.twig' %}

{% block title %}TEST P5JS{% endblock %}

{% block body %}

<div class="mainContainer">
    <h1>SCENE 1</h1>
     <div id="container">
    </div>
    <p>This is a paragraph element.</p>

</div>
<script src="{{ asset('js/sketch.js') }}"></script>

{% endblock %}
