.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
    margin: auto; /* centers the canvas */
}
.cardGallery{
    margin : 10px;
}